# Eclipse specific stuff
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# Other IDEs
*.iml
.idea/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Pre-packagin artifacts
.flattened-pom.xml
.tycho-consumer-pom.xml

# Output folders
bin/
target/

# Generated sources
src-gen/
xtend-gen/
icons/